
<%- include('../layouts/header.ejs') %>


<div class="container">
    <div class="rounded-0">
      <div class="mb-3">
        <h5 class="fw-bold">Change Password</h5>
        <hr>
        <form method="post" action="/editpass">
          <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-0" id="floatingInputOldPass" placeholder="Old Password" name="old">
            <label for="floatingInputOldPass">Old Password</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-0" id="floatingInputNewPass" placeholder="New Password" name="new">
            <label for="floatingInputNewPass">New Password</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control rounded-0" id="floatingInputConPass" placeholder="Confirm Password" name="conew">
            <label for="floatingInputConPass">Confirm Password</label>
          </div>
          <div class="d-grid gap-3 w-100">
            <button type="submit" class="btn btn-dark py-3 btn-ecomm">Change</button>
            <a href="/userdashboard" class="btn btn-outline-dark py-3 btn-ecomm">Cancel</a>

          </div>
        </form>
      </div>
    </div>
  </div>
  















<%- include('../layouts/footer.ejs') %>